#about-text {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  line-height: 1.4;
  font-family: "omnes-georgian", sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 500;
  font-style: normal;
  font-size: calc(13px + .2vw);
  color: #8e8e8e;
}

.textscan-word {
  display: flex;
}
