* {
  color: white;
}

#main-div-coming-soon {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* height: 90%; */
  height: 100%;
  width: 80%;
  z-index: 0;
  margin-top: 20px;
  /* border: 1px solid orange; */
}

#three-container-container {
  /* border: 1px solid orange; */
  width: 360px;
  height: 360px;
}

#cube-container {
  position: absolute;
  bottom: 16%;
  right: 14%;
  /* border: 1px solid blue; */
  width: 360px;
  height: 360px;
}

#gestalt-home-title {
  /* border: 1px solid blue; */
  width: 40vw;
  margin-bottom: 40px;
}

#gestalt-title-text {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  font-size: 90px;
  font-size: 5.7vw;
  margin-bottom: 0px;
}

#gestalt-title-p {
  font-family: "interface", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

#gestalt-text {
  display: flex;
  font-size: 7.5vw;
  justify-content: center;
  padding-left: 3.5vh;
  padding-bottom: 150px;
  /* border: 1px solid purple; */
}

#circle-text {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  position: absolute;
  top: 43%;
  left: -5%;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  z-index: 3;
  /* animation: spin 8s linear infinite; */
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes crossheirMove{
  from {
    transform-origin: 200px;
  }
  to {
    transform-origin: 25px;
  }
}

@keyframes scopeFocus{
  from {
    transform-origin: 200px;
  }
  to {
    transform-origin: 25px;
  }
}

@keyframes scopeUnfocus{
  from {
    transform-origin: 25px;
  }
  to {
    transform-origin: 200px;
  }
}

.circle-char {
  /* border: 1px solid blue; */
  position: absolute;
  /* transform: rotate(30deg); */
  color: rgb(228, 53, 255);
  transform-origin: 200px;
}

#circle-boundary {
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.478); */
  /* z-index: 2; */
  /* opacity: 0%; */
  height: 360px;
  width: 360px;
  border-radius: 50%;
}

#coming-soon-gestalt-text {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  float: left;
}

#coming-soon-random-char {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 40px;
  color: rgba(255, 255, 255, 0.434);
  float: right;
  /* border: 1px solid red; */
}

#coming-soon-text {
  height: 4vh;
  animation: focus 4s;
  font-size: 3.3vh;
  font-family: vgFont;
  /* border: 1px solid red; */
}

#coming-soon-text-placeholder {
  height: 4vh;
  font-size: 3.3vh;
  font-family: vgFont;

}

@keyframes focus {
  0% {
    opacity: 100;
    filter: blur(7px);
    text-shadow: none;
  }

  5% {
    opacity: 0;
    filter: blur(7px);
    text-shadow: none;
  }

  12% {
    opacity: 100;
    filter: blur(7px);
    text-shadow: none;
  }

  20% {
    opacity: 0;
    filter: blur(7px);
    font-size: 3.4vh;
    text-shadow: none;
  }

  30% {
    font-size: 3.6vh;
    filter: blur(9px);
    text-shadow:
      0 0 12px rgba(255, 255, 255, 0.519),
      0 0 22px rgba(255, 255, 255, 0.583),
      0 0 32px rgba(255, 255, 255, 0.555),
      0 0 32px rgba(255, 255, 255, 0.434),
      0 0 36px rgb(255, 255, 255);
  }

  /* 40% {
    opacity: 90;
    filter: blur(7px);
    font-size: 3.4vh;
  } */
  40% {
    opacity: 100;
    filter: blur(2px);
    font-size: 3.4vh;
    text-shadow:
      0 0 2px rgba(255, 255, 255, 0.519),
      0 0 2px rgba(255, 255, 255, 0.583),
      0 0 2px rgba(255, 255, 255, 0.555),
      0 0 2px rgba(255, 255, 255, 0.434),
      0 0 2px rgb(255, 255, 255);
  }

  45% {
    opacity: 100;
    filter: blur(2px);
    font-size: 3.4vh;
    text-shadow:
      0 0 2px rgba(255, 255, 255, 0.519),
      0 0 2px rgba(255, 255, 255, 0.583),
      0 0 2px rgba(255, 255, 255, 0.555),
      0 0 2px rgba(255, 255, 255, 0.434),
      0 0 2px rgb(255, 255, 255);
  }

  50% {
    opacity: 100;
    filter: blur(4px);
    font-size: 3.4vh;
    text-shadow:
      0 0 2px rgba(255, 255, 255, 0.519),
      0 0 2px rgba(255, 255, 255, 0.583),
      0 0 2px rgba(255, 255, 255, 0.555),
      0 0 2px rgba(255, 255, 255, 0.434),
      0 0 2px rgb(255, 255, 255);
  }

  /* 50% {
    opacity: 100;
    filter: blur(6px);
    font-size: 3.4vh;
    text-shadow: none;
  } */
  65% {
    opacity: 100;
    filter: blur(2px);
    font-size: 3.4vh;
    text-shadow:
      0 0 2px rgba(255, 255, 255, 0.519),
      0 0 2px rgba(255, 255, 255, 0.583),
      0 0 2px rgba(255, 255, 255, 0.555),
      0 0 2px rgba(255, 255, 255, 0.434),
      0 0 2px rgb(255, 255, 255);
  }

  76% {
    opacity: 100;
    filter: blur(14px);
    /* text-shadow: none; */
    text-shadow:
      0 0 12px rgba(255, 255, 255, 0.519),
      0 0 22px rgba(255, 255, 255, 0.583),
      0 0 32px rgba(255, 255, 255, 0.555),
      0 0 32px rgba(255, 255, 255, 0.434),
      0 0 36px rgb(255, 255, 255);
  }

  77% {
    opacity: 0;
    filter: blur(14px);
    font-size: 3.3vh;
    /* text-shadow: none; */
    text-shadow:
      0 0 12px rgba(255, 255, 255, 0.519),
      0 0 22px rgba(255, 255, 255, 0.583),
      0 0 32px rgba(255, 255, 255, 0.555),
      0 0 32px rgba(255, 255, 255, 0.434),
      0 0 36px rgb(255, 255, 255);
  }

  78% {
    opacity: 100;
    filter: blur(16px);
    font-size: 3.6vh;
    /* text-shadow: none; */
    text-shadow:
      0 0 12px rgba(255, 255, 255, 0.519),
      0 0 22px rgba(255, 255, 255, 0.583),
      0 0 32px rgba(255, 255, 255, 0.555),
      0 0 32px rgba(255, 255, 255, 0.434),
      0 0 36px rgb(255, 255, 255);
  }

  90% {
    filter: none;
    font-size: 3.3vh;
    color: #fff;
    text-shadow:
      0 0 2px rgba(255, 255, 255, 0.519),
      0 0 2px rgba(255, 255, 255, 0.583),
      0 0 2px rgba(255, 255, 255, 0.555),
      0 0 2px rgba(255, 255, 255, 0.434),
      0 0 2px rgb(255, 255, 255);
  }

  100% {
    font-size: 3.3vh;
    color: #fff;
    text-shadow:
      0 0 2px rgba(255, 255, 255, 0.519),
      0 0 2px rgba(255, 255, 255, 0.583),
      0 0 2px rgba(255, 255, 255, 0.555),
      0 0 2px rgba(255, 255, 255, 0.434),
      0 0 2px rgb(255, 255, 255);
  }
}

#email-symbol {
  height: 1.5vh;
  margin-right: .6vh;
  padding-left: 1.5vh;
}

#email-text-and-cursor {
  /* border: 1px solid orange; */
  margin-top: 10vh;
  text-shadow:
    0 0 .5px rgba(255, 255, 255, 0.519),
    0 0 .5px rgba(255, 255, 255, 0.583),
    0 0 .5px rgba(255, 255, 255, 0.555),
    0 0 .5px rgba(255, 255, 255, 0.434),
    0 0 .5px rgb(255, 255, 255);
}

#email-cursor {
  font-size: 2.8vh;
  height: fit-content;
  width: 4px;
  font-family: vgFont;
  /* border: 1px solid rgb(213, 74, 98); */
}

#email-text {
  font-family: vgFont;
  font-size: 2.4vh;
  font-weight: 600;
  letter-spacing: 3px;
  /* border: 1px solid purple; */
}

#three-container {
  /* border: 1px solid green; */
  position: absolute;
  height: 360px;
  width: 360px;
  z-index: 2;
  /* width: 200px;
  height: 200px; */
}

@font-face {
  font-family: vgFont;
  src: url('./vg_font.ttf');
}

@font-face {
  font-family: randomChar;
  src: url('./RandomChar-Regular.ttf');
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 2px rgba(255, 255, 255, 0.519),
    0 0 2px rgba(255, 255, 255, 0.583),
    0 0 2px rgba(255, 255, 255, 0.555),
    0 0 2px rgba(255, 255, 255, 0.434),
    0 0 2px rgb(255, 255, 255);
  /* 0 0 22px rgba(0, 255, 170, 0.42),
    0 0 42px rgba(0, 255, 170, 0.306),
    0 0 52px rgba(0, 255, 170, 0.334),
    0 0 52px rgba(0, 255, 170, 0.357),
    0 0 81px rgba(0, 255, 170, 0.4); */
  letter-spacing: 2px;
}

@media (max-width: 824px) {
  #gestalt-text {
    font-size: 6.8vw;
    margin-left: 1vh;
  }
}

#outer-circle-boundary {
  width: 100%;
  height: 100%;
}

@media (max-width: 551px) {
  #three-container {
    position: relative;
    width: 300px;
    height: 300px;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cube-container {
    width: 300px;
    height: 300px;
  }

  #circle-text {
    visibility: hidden;
  }

  #circle-boundary {
    width: 300px;
    height: 300px;
  }

  #outer-circle-boundary {
    width: fit-content;
    height: fit-content;
  }
}

@media (max-width: 1200px) {
  #main-div-coming-soon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cube-container {
    position: relative;
    bottom: 0;
    right: 0;
  }

  #gestalt-title-text {
    font-size: 8vw;
  }
}

@media (max-width: 500px) {
  #gestalt-text {
    font-size: 6.4vw;
    margin-left: 1.4vh;
  }

  #email-text {
    font-size: 1.7vh;
  }

  #coming-soon-text {
    font-size: 2.3vh;
  }

  #three-container {

  }

  @keyframes focus {
    0% {
      opacity: 100;
      filter: blur(3.5px);
      text-shadow: none;
    }

    5% {
      opacity: 0;
      filter: blur(3.5px);
      text-shadow: none;
    }

    12% {
      opacity: 100;
      filter: blur(3.5px);
      text-shadow: none;
    }

    20% {
      opacity: 0;
      filter: blur(3.5px);
      font-size: 2.4vh;
      text-shadow: none;
    }

    30% {
      font-size: 2.6vh;
      filter: blur(4.5px);
      text-shadow:
        0 0 6px rgba(255, 255, 255, 0.519),
        0 0 11px rgba(255, 255, 255, 0.583),
        0 0 16px rgba(255, 255, 255, 0.555),
        0 0 16px rgba(255, 255, 255, 0.434),
        0 0 18px rgb(255, 255, 255);
    }

    /* 40% {
    opacity: 90;
    filter: blur(7px);
    font-size: 3.4vh;
  } */
    40% {
      opacity: 100;
      filter: blur(1px);
      font-size: 2.4vh;
      text-shadow:
        0 0 1px rgba(255, 255, 255, 0.519),
        0 0 1px rgba(255, 255, 255, 0.583),
        0 0 1px rgba(255, 255, 255, 0.555),
        0 0 1px rgba(255, 255, 255, 0.434),
        0 0 1px rgb(255, 255, 255);
    }

    45% {
      opacity: 100;
      filter: blur(1px);
      font-size: 2.4vh;
      text-shadow:
        0 0 1px rgba(255, 255, 255, 0.519),
        0 0 1px rgba(255, 255, 255, 0.583),
        0 0 1px rgba(255, 255, 255, 0.555),
        0 0 1px rgba(255, 255, 255, 0.434),
        0 0 1px rgb(255, 255, 255);
    }

    50% {
      opacity: 100;
      filter: blur(2px);
      font-size: 2.4vh;
      text-shadow:
        0 0 1px rgba(255, 255, 255, 0.519),
        0 0 1px rgba(255, 255, 255, 0.583),
        0 0 1px rgba(255, 255, 255, 0.555),
        0 0 1px rgba(255, 255, 255, 0.434),
        0 0 1px rgb(255, 255, 255);
    }

    /* 50% {
    opacity: 100;
    filter: blur(6px);
    font-size: 3.4vh;
    text-shadow: none;
  } */
    65% {
      opacity: 100;
      filter: blur(1px);
      font-size: 2.4vh;
      text-shadow:
        0 0 1px rgba(255, 255, 255, 0.519),
        0 0 1px rgba(255, 255, 255, 0.583),
        0 0 1px rgba(255, 255, 255, 0.555),
        0 0 1px rgba(255, 255, 255, 0.434),
        0 0 1px rgb(255, 255, 255);
    }

    76% {
      opacity: 100;
      filter: blur(7px);
      /* text-shadow: none; */
      text-shadow:
        0 0 6px rgba(255, 255, 255, 0.519),
        0 0 11px rgba(255, 255, 255, 0.583),
        0 0 16px rgba(255, 255, 255, 0.555),
        0 0 16px rgba(255, 255, 255, 0.434),
        0 0 18px rgb(255, 255, 255);
    }

    77% {
      opacity: 0;
      filter: blur(7px);
      font-size: 2.3vh;
      /* text-shadow: none; */
      text-shadow:
        0 0 6px rgba(255, 255, 255, 0.519),
        0 0 11px rgba(255, 255, 255, 0.583),
        0 0 16px rgba(255, 255, 255, 0.555),
        0 0 16px rgba(255, 255, 255, 0.434),
        0 0 18px rgb(255, 255, 255);
    }

    78% {
      opacity: 100;
      filter: blur(8px);
      font-size: 2.6vh;
      /* text-shadow: none; */
      text-shadow:
        0 0 6px rgba(255, 255, 255, 0.519),
        0 0 11px rgba(255, 255, 255, 0.583),
        0 0 16px rgba(255, 255, 255, 0.555),
        0 0 16px rgba(255, 255, 255, 0.434),
        0 0 18px rgb(255, 255, 255);
    }

    90% {
      filter: none;
      font-size: 2.3vh;
      color: #fff;
      text-shadow:
        0 0 1px rgba(255, 255, 255, 0.519),
        0 0 1px rgba(255, 255, 255, 0.583),
        0 0 1px rgba(255, 255, 255, 0.555),
        0 0 1px rgba(255, 255, 255, 0.434),
        0 0 1px rgb(255, 255, 255);
    }

    100% {
      font-size: 2.3vh;
      color: #fff;
      text-shadow:
        0 0 1px rgba(255, 255, 255, 0.519),
        0 0 1px rgba(255, 255, 255, 0.583),
        0 0 1px rgba(255, 255, 255, 0.555),
        0 0 1px rgba(255, 255, 255, 0.434),
        0 0 1px rgb(255, 255, 255);
    }
  }
}
